body{
    background-color: rgb(19, 54, 250);
    
    a{
        color: aliceblue;
    }
    a:hover{
        color: rgb(224, 216, 180);
    }
}

.btnsc {
    a{
        color: aliceblue;
    }
}
.gap {
    margin: 20px;
}